@font-face 
{
    font-family: almmfoot;
    src: url(../foot/AlimamaDaoLiTi.ttf);
}

*
{
    margin: 0;
    padding: 0;
    font-family: almmfoot;
}

header .logo 
{
    width: 100%;
    height: 70px;
    font-family: almmfoot;
    font-size: 70px;
    text-align: center;
    background-image: linear-gradient(90deg,  #ff0f7b 0%, #f89b29 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 10px 10px 10px #b32c2c;
}

header .nav-list
{
    list-style-type: none;
}

header .search
{
    width: 100%;
    height: 60px;
    margin-top: 30px;
    /* background-color: #0000; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b, #ff7e5f);
}

header .search a
{   
    height: 60px;
    display: inline-block;
    color: white;
    font-family: almmfoot;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    flex: 1;
    border-left: 2px solid white;
}

@media screen and (max-width:1126px)
{
    header .search a
    {
        font-size: 35px;
    }
}

@media screen and (max-width:986px)
{
    header .search a
    {
        font-size: 32px;
    }
}

@media screen and (max-width:902px)
{
    header .search a
    {
        font-size: 30px;
    }
}

@media screen and (max-width:846px)
{
    header .search a
    {
        font-size: 28px;
    }
}

header .search a:hover
{
    text-decoration: underline;
    background-color: rgb(173, 91, 91);
}

section img
{
    width: 100%;
    height: auto;
    /* margin-top: 50px; */
}

.title
{
    width: 430px;
    height: 100%;
    color: #8e5757;
    text-align: center;
    text-decoration: underline;
    margin: 0 auto;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 10px 10px 9px #a57b7b;
}

section .text
{
    width: 100%;
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
}

section .text> p
{   
    height: 100%;
    max-height: 475.2px;
    border-radius: 0px 0px 50px 50px;
    background: #7f4646;
    font-size: 36px;
    text-decoration: underline;
    font-weight: 900;
    overflow: auto;
}

section .text> video
{
    width: 100%;
    height: auto;
    border-radius: 50px 50px 0px 0px;
} 

section .img-box
{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    column-count: 3;
}

section .img-box> img
{   
    width: 100%;
    height: auto;
    margin-top: 10px;
    break-inside: avoid;
    transition: transform 0.3s;
}

section .img-box> img:hover 
{
    transform: scale(1.1); /* 鼠标悬停时放大图片 */
}

footer
{
    width: 100%;
    height: 300px;
    margin-top: 200px;
    background: rgba(225, 164, 164, 0.6);
}

footer> p
{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: almmfoot;
    /* background: rgba(255,255,255,0.5); */
    margin-top: 7px;
}

@media screen and (max-width:900px)
{
    footer> p
    {
        font-size: 20px;
    }
}

::-webkit-scrollbar
{
    display: none;
}

