@font-face 
{
    font-family: almmfoot;
    src: url(../foot/AlimamaDaoLiTi.ttf);
}

*
{
    margin: 0;
    padding: 0;
    font-family: almmfoot;
}

.qmj
{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
}

.qmj h1
{
    font-size: 36px;
    text-align: center;
}

.qmj img
{
    margin-top: 30px;
    margin-bottom: 30px;
}

.qmj p
{
    font-size: 30px;
}

::-webkit-scrollbar{
    display: none;
}